body{
  margin:0;
}

.nav-container{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  border:1px solid black;
  background-color:white;
  min-height:50px;
}

nav > ul {
  list-style-type:none;
  margin:0;
  display:inline;
  margin: 10px;
  line-height:50px;
}

nav > ul > li {
  display:inline;
  color:white;
  margin:5px;
  
  
}
